In [ ]:
!pip install tensorflow_decision_forests

In [1]:
import numpy as np
import pandas as pd
import os

import tensorflow as tf
import tensorflow_decision_forests as tfdf

print(f"Found TF-DF {tfdf.__version__}")

Found TF-DF 1.5.0

# **Loading Dataset**

In [2]:
train_df = pd.read_csv("train.csv")
serving_df = pd.read_csv("test.csv")

train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

# **Prepare dataset**

We will apply the following transformations on the dataset.


1.   Tokenize the names. For example, "Braund, Mr. Owen
Harris" will become ["Braund", "Mr.", "Owen", "Harris"].
2.   Extract any prefix in the ticket. For example ticket "STON/O2. 3101282" will become "STON/O2." and 3101282.

In [3]:
def preprocess(df):
    df = df.copy()

    def normalize_name(x):
        return " ".join([v.strip(",()[].\"'") for v in x.split(" ")])

    def ticket_number(x):
        return x.split(" ")[-1]

    def ticket_item(x):
        items = x.split(" ")
        if len(items) == 1:
            return "NONE"
        return "_".join(items[0:-1])

    df["Name"] = df["Name"].apply(normalize_name)
    df["Ticket_number"] = df["Ticket"].apply(ticket_number)
    df["Ticket_item"] = df["Ticket"].apply(ticket_item)
    return df

preprocessed_train_df = preprocess(train_df)
preprocessed_serving_df = preprocess(serving_df)

preprocessed_train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,1,0,3,Braund Mr Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S,21171,A/5
1,2,1,1,Cumings Mrs John Bradley Florence Briggs Thayer,female,38.0,1,0,PC 17599,71.2833,C85,C,17599,PC
2,3,1,3,Heikkinen Miss Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3101282,STON/O2.
3,4,1,1,Futrelle Mrs Jacques Heath Lily May Peel,female,35.0,1,0,113803,53.1000,C123,S,113803,NONE
4,5,0,3,Allen Mr William Henry,male,35.0,0,0,373450,8.0500,NaN,S,373450,NONE

Let's keep the list of the input features of the model. Notably, we don't want to train our model on the "PassengerId" and "Ticket" features.

In [4]:
input_features = list(preprocessed_train_df.columns)
input_features.remove("Ticket")
input_features.remove("PassengerId")
input_features.remove("Survived")
#input_features.remove("Ticket_number")

print(f"Input features: {input_features}")

Input features: ['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked', 'Ticket_number', 'Ticket_item']

# Convert Pandas dataset to TensorFlow Dataset

In [5]:
def tokenize_names(features, labels=None):
    """Divite the names into tokens. TF-DF can consume text tokens natively."""
    features["Name"] =  tf.strings.split(features["Name"])
    return features, labels

train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_train_df,label="Survived").map(tokenize_names)
serving_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_serving_df).map(tokenize_names)

# **Train model with default parameters**

# Train model
First, we are training a GradientBoostedTreesModel model with the default parameters.

In [ ]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose=0, # Very few logs
    features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True, # Only use the features in "features"
    random_seed=1234,
)
model.fit(train_ds)

self_evaluation = model.make_inspector().evaluation()
print(f"Accuracy: {self_evaluation.accuracy} Loss:{self_evaluation.loss}")

# **Train model with improved default parameters**

Now you'll use some specific parameters when creating the GBT model

In [7]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose=0, # Very few logs
    features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True, # Only use the features in "features"

    #num_trees=2000,

    # Only for GBT.
    # A bit slower, but great to understand the model.
    # compute_permutation_variable_importance=True,

    # Change the default hyper-parameters
    # hyperparameter_template="benchmark_rank1@v1",

    #num_trees=1000,
    #tuner=tuner

    min_examples=1,
    categorical_algorithm="RANDOM",
    #max_depth=4,
    shrinkage=0.05,
    #num_candidate_attributes_ratio=0.2,
    split_axis="SPARSE_OBLIQUE",
    sparse_oblique_normalization="MIN_MAX",
    sparse_oblique_num_projections_exponent=2.0,
    num_trees=2000,
    #validation_ratio=0.0,
    random_seed=1234,

)
model.fit(train_ds)

self_evaluation = model.make_inspector().evaluation()
print(f"Accuracy: {self_evaluation.accuracy} Loss:{self_evaluation.loss}")

Accuracy: 0.760869562625885 Loss:1.0501841306686401

Let's look at the model and you can also notice the information about variable importance that the model figured out

In [8]:
model.summary()

Model: "gradient_boosted_trees_model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "GRADIENT_BOOSTED_TREES"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (11):
	Age
	Cabin
	Embarked
	Fare
	Name
	Parch
	Pclass
	Sex
	SibSp
	Ticket_item
	Ticket_number

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.           "Sex"  0.704486 ################
    2.           "Age"  0.352416 #####
    3.          "Fare"  0.262622 ##
    4.          "Name"  0.196262
    5.        "Pclass"  0.182029
    6. "Ticket_number"  0.179701
    7.   "Ticket_item"  0.179391
    8.         "Parch"  0.178766
    9.      "Embarked"  0.178126
   10.         "SibSp"  0.171961

Variable Importance: NUM_AS_ROOT:
    1.  "Sex" 40.000000 ################
    2. "Name"  4.000000

Variable Importance: NUM_NODES:
    1.           "Age" 567.000000 ################
    2.          "Fare" 306.000000 ########
    3.          "Name" 66.000000 #
    4.   "Ticket_item" 43.000000 #
    5.           "Sex" 42.000000 #
    6.         "Parch" 34.000000
    7. "Ticket_number" 24.000000
    8.      "Embarked" 17.000000
    9.        "Pclass" 16.000000
   10.         "SibSp"  4.000000

Variable Importance: SUM_SCORE:
    1.           "Sex" 465.557592 ################
    2.           "Age" 413.419692 ##############
    3.          "Fare" 277.618743 #########
    4.          "Name" 130.097848 ####
    5.        "Pclass" 39.888803 #
    6.         "Parch" 24.799042
    7.   "Ticket_item" 22.075880
    8. "Ticket_number" 17.944248
    9.      "Embarked" 10.702207
   10.         "SibSp"  0.047910



Loss: BINOMIAL_LOG_LIKELIHOOD
Validation loss value: 1.05018
Number of trees per iteration: 1
Node format: NOT_SET
Number of trees: 44
Total number of nodes: 2282

Number of nodes by tree:
Count: 44 Average: 51.8636 StdDev: 4.25115
Min: 41 Max: 59 Ignored: 0
----------------------------------------------
[ 41, 42)  1   2.27%   2.27% #
[ 42, 43)  0   0.00%   2.27%
[ 43, 44)  1   2.27%   4.55% #
[ 44, 45)  0   0.00%   4.55%
[ 45, 46)  3   6.82%  11.36% ###
[ 46, 47)  0   0.00%  11.36%
[ 47, 48)  4   9.09%  20.45% ####
[ 48, 49)  0   0.00%  20.45%
[ 49, 50)  2   4.55%  25.00% ##
[ 50, 51)  0   0.00%  25.00%
[ 51, 52) 11  25.00%  50.00% ##########
[ 52, 53)  0   0.00%  50.00%
[ 53, 54)  6  13.64%  63.64% #####
[ 54, 55)  0   0.00%  63.64%
[ 55, 56) 10  22.73%  86.36% #########
[ 56, 57)  0   0.00%  86.36%
[ 57, 58)  3   6.82%  93.18% ###
[ 58, 59)  0   0.00%  93.18%
[ 59, 59]  3   6.82% 100.00% ###

Depth by leafs:
Count: 1163 Average: 4.83061 StdDev: 0.472485
Min: 3 Max: 5 Ignored: 0
----------------------------------------------
[ 3, 4)   48   4.13%   4.13%
[ 4, 5)  101   8.68%  12.81% #
[ 5, 5] 1014  87.19% 100.00% ##########

Number of training obs by leaf:
Count: 1163 Average: 30.2287 StdDev: 73.3245
Min: 1 Max: 469 Ignored: 0
----------------------------------------------
[   1,  24) 916  78.76%  78.76% ##########
[  24,  47)  84   7.22%  85.98% #
[  47,  71)  46   3.96%  89.94% #
[  71,  94)  19   1.63%  91.57%
[  94, 118)   4   0.34%  91.92%
[ 118, 141)  15   1.29%  93.21%
[ 141, 165)  25   2.15%  95.36%
[ 165, 188)   8   0.69%  96.04%
[ 188, 212)   2   0.17%  96.22%
[ 212, 235)   7   0.60%  96.82%
[ 235, 258)   2   0.17%  96.99%
[ 258, 282)   1   0.09%  97.08%
[ 282, 305)   0   0.00%  97.08%
[ 305, 329)   1   0.09%  97.16%
[ 329, 352)   5   0.43%  97.59%
[ 352, 376)   5   0.43%  98.02%
[ 376, 399)  10   0.86%  98.88%
[ 399, 423)  11   0.95%  99.83%
[ 423, 446)   1   0.09%  99.91%
[ 446, 469]   1   0.09% 100.00%

Attribute in nodes:
	567 : Age [NUMERICAL]
	306 : Fare [NUMERICAL]
	66 : Name [CATEGORICAL_SET]
	43 : Ticket_item [CATEGORICAL]
	42 : Sex [CATEGORICAL]
	34 : Parch [NUMERICAL]
	24 : Ticket_number [CATEGORICAL]
	17 : Embarked [CATEGORICAL]
	16 : Pclass [NUMERICAL]
	4 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 0:
	40 : Sex [CATEGORICAL]
	4 : Name [CATEGORICAL_SET]

Attribute in nodes with depth <= 1:
	49 : Age [NUMERICAL]
	40 : Sex [CATEGORICAL]
	26 : Fare [NUMERICAL]
	7 : Pclass [NUMERICAL]
	5 : Name [CATEGORICAL_SET]
	3 : Ticket_number [CATEGORICAL]
	1 : Ticket_item [CATEGORICAL]
	1 : Parch [NUMERICAL]

Attribute in nodes with depth <= 2:
	136 : Age [NUMERICAL]
	79 : Fare [NUMERICAL]
	41 : Sex [CATEGORICAL]
	13 : Name [CATEGORICAL_SET]
	9 : Embarked [CATEGORICAL]
	8 : Pclass [NUMERICAL]
	8 : Parch [NUMERICAL]
	7 : Ticket_number [CATEGORICAL]
	7 : Ticket_item [CATEGORICAL]

Attribute in nodes with depth <= 3:
	314 : Age [NUMERICAL]
	152 : Fare [NUMERICAL]
	42 : Sex [CATEGORICAL]
	30 : Name [CATEGORICAL_SET]
	17 : Parch [NUMERICAL]
	16 : Ticket_item [CATEGORICAL]
	15 : Ticket_number [CATEGORICAL]
	13 : Embarked [CATEGORICAL]
	12 : Pclass [NUMERICAL]
	1 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 5:
	567 : Age [NUMERICAL]
	306 : Fare [NUMERICAL]
	66 : Name [CATEGORICAL_SET]
	43 : Ticket_item [CATEGORICAL]
	42 : Sex [CATEGORICAL]
	34 : Parch [NUMERICAL]
	24 : Ticket_number [CATEGORICAL]
	17 : Embarked [CATEGORICAL]
	16 : Pclass [NUMERICAL]
	4 : SibSp [NUMERICAL]

Condition type in nodes:
	927 : ObliqueCondition
	142 : ContainsBitmapCondition
	50 : ContainsCondition
Condition type in nodes with depth <= 0:
	43 : ContainsBitmapCondition
	1 : ContainsCondition
Condition type in nodes with depth <= 1:
	83 : ObliqueCondition
	48 : ContainsBitmapCondition
	1 : ContainsCondition
Condition type in nodes with depth <= 2:
	231 : ObliqueCondition
	70 : ContainsBitmapCondition
	7 : ContainsCondition
Condition type in nodes with depth <= 3:
	496 : ObliqueCondition
	97 : ContainsBitmapCondition
	19 : ContainsCondition
Condition type in nodes with depth <= 5:
	927 : ObliqueCondition
	142 : ContainsBitmapCondition
	50 : ContainsCondition

Training logs:
Number of iteration to final model: 44
	Iter:1 train-loss:1.267677 valid-loss:1.369484  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:2 train-loss:1.214848 valid-loss:1.331812  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:3 train-loss:1.164942 valid-loss:1.291869  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:4 train-loss:1.120759 valid-loss:1.258706  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:5 train-loss:1.079912 valid-loss:1.231839  train-accuracy:0.809762 valid-accuracy:0.717391
	Iter:6 train-loss:1.043659 valid-loss:1.209835  train-accuracy:0.817272 valid-accuracy:0.717391
	Iter:16 train-loss:0.792955 valid-loss:1.098543  train-accuracy:0.902378 valid-accuracy:0.739130
	Iter:26 train-loss:0.656320 valid-loss:1.073630  train-accuracy:0.922403 valid-accuracy:0.750000
	Iter:36 train-loss:0.562376 valid-loss:1.058251  train-accuracy:0.932416 valid-accuracy:0.771739
	Iter:46 train-loss:0.500226 valid-loss:1.056464  train-accuracy:0.931164 valid-accuracy:0.760870
	Iter:56 train-loss:0.454310 valid-loss:1.062962  train-accuracy:0.942428 valid-accuracy:0.771739
	Iter:66 train-loss:0.417928 valid-loss:1.082829  train-accuracy:0.948686 valid-accuracy:0.760870

# **Make predictions**

In [15]:
def prediction(model, threshold=0.5):
    proba_survive = model.predict(serving_ds, verbose=0)[:,0]
    return pd.DataFrame({
        "PassengerId": serving_df["PassengerId"],
        "Survived": (proba_survive >= threshold).astype(int)
    })

def make_submission(predictions):
    path="submission.csv"
    predictions.to_csv(path, index=False)
    print(f"Submission exported to {path}")

predictions = prediction(model)
make_submission(predictions)
!head submission.csv

Submission exported to submission.csv
PassengerId,Survived
892,0
893,0
894,0
895,0
896,0
897,1
898,0
899,0
900,1

# **Training a model with hyperparameter tunning**

Hyper-parameter tuning is enabled by specifying the tuner constructor argument of the model. The tuner object contains all the configuration of the tuner (search space, optimizer, trial and objective).

In [16]:
tuner = tfdf.tuner.RandomSearch(num_trials=1000)
tuner.choice("min_examples", [2, 5, 7, 10])
tuner.choice("categorical_algorithm", ["CART", "RANDOM"])

local_search_space = tuner.choice("growing_strategy", ["LOCAL"])
local_search_space.choice("max_depth", [3, 4, 5, 6, 8])

global_search_space = tuner.choice("growing_strategy", ["BEST_FIRST_GLOBAL"], merge=True)
global_search_space.choice("max_num_nodes", [16, 32, 64, 128, 256])

#tuner.choice("use_hessian_gain", [True, False])
tuner.choice("shrinkage", [0.02, 0.05, 0.10, 0.15])
tuner.choice("num_candidate_attributes_ratio", [0.2, 0.5, 0.9, 1.0])


tuner.choice("split_axis", ["AXIS_ALIGNED"])
oblique_space = tuner.choice("split_axis", ["SPARSE_OBLIQUE"], merge=True)
oblique_space.choice("sparse_oblique_normalization",
                     ["NONE", "STANDARD_DEVIATION", "MIN_MAX"])
oblique_space.choice("sparse_oblique_weights", ["BINARY", "CONTINUOUS"])
oblique_space.choice("sparse_oblique_num_projections_exponent", [1.0, 1.5])

# Tune the model. Notice the `tuner=tuner`.
tuned_model = tfdf.keras.GradientBoostedTreesModel(tuner=tuner)
tuned_model.fit(train_ds, verbose=0)

tuned_self_evaluation = tuned_model.make_inspector().evaluation()
print(f"Accuracy: {tuned_self_evaluation.accuracy} Loss:{tuned_self_evaluation.loss}")

Use /tmp/tmpq275x4yt as temporary training directory
Accuracy: 0.8630136847496033 Loss:0.6804219484329224

In the last line in the cell above, you can see the accuracy is higher than previously with default parameters and parameters set by hand.

This is the main idea behing hyperparameter tuning.

# **Making an ensemble**

Here you'll create 100 models with different seeds and combine their results

This approach removes a little bit the random aspects related to creating ML models

In the GBT creation is used the honest parameter. It will use different training examples to infer the structure and the leaf values. This regularization technique trades examples for bias estimates.

In [17]:
predictions = None
num_predictions = 0

for i in range(100):
    print(f"i:{i}")
    # Possible models: GradientBoostedTreesModel or RandomForestModel
    model = tfdf.keras.GradientBoostedTreesModel(
        verbose=0, # Very few logs
        features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
        exclude_non_specified_features=True, # Only use the features in "features"

        #min_examples=1,
        #categorical_algorithm="RANDOM",
        ##max_depth=4,
        #shrinkage=0.05,
        ##num_candidate_attributes_ratio=0.2,
        #split_axis="SPARSE_OBLIQUE",
        #sparse_oblique_normalization="MIN_MAX",
        #sparse_oblique_num_projections_exponent=2.0,
        #num_trees=2000,
        ##validation_ratio=0.0,
        random_seed=i,
        honest=True,
    )
    model.fit(train_ds)

    sub_predictions = model.predict(serving_ds, verbose=0)[:,0]
    if predictions is None:
        predictions = sub_predictions
    else:
        predictions += sub_predictions
    num_predictions += 1

predictions/=num_predictions

predictions = pd.DataFrame({
        "PassengerId": serving_df["PassengerId"],
        "Survived": (predictions >= 0.5).astype(int)
    })

make_submission(predictions)

i:0
i:1

WARNING:tensorflow:5 out of the last 5 calls to <function CoreModel._consumes_training_examples_until_eof at 0x7f226b46ef80> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:5 out of the last 8 calls to <function InferenceCoreModel.yggdrasil_model_path_tensor at 0x7f2258ea0e50> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

i:2

WARNING:tensorflow:6 out of the last 6 calls to <function CoreModel._consumes_training_examples_until_eof at 0x7f226b46ef80> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:6 out of the last 9 calls to <function InferenceCoreModel.yggdrasil_model_path_tensor at 0x7f2258ebc9d0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

i:3
i:4
i:5
i:6
i:7
i:8
i:9
i:10
i:11
i:12
i:13
i:14
i:15
i:16
i:17
i:18
i:19
i:20
i:21
i:22
i:23
i:24
i:25
i:26
i:27
i:28
i:29
i:30
i:31
i:32
i:33
i:34
i:35
i:36
i:37
i:38
i:39
i:40
i:41
i:42
i:43
i:44
i:45
i:46
i:47
i:48
i:49
i:50
i:51
i:52
i:53
i:54
i:55
i:56
i:57
i:58
i:59
i:60
i:61
i:62
i:63
i:64
i:65
i:66
i:67
i:68
i:69
i:70
i:71
i:72
i:73
i:74
i:75
i:76
i:77
i:78
i:79
i:80
i:81
i:82
i:83
i:84
i:85
i:86
i:87
i:88
i:89
i:90
i:91
i:92
i:93
i:94
i:95
i:96
i:97
i:98
i:99
Submission exported to submission.csv

In [18]:
!head submission.csv

PassengerId,Survived
892,0
893,0
894,0
895,0
896,1
897,0
898,1
899,0
900,1